<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要将接收到的图片保存到您的照片库中</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>应用需要访问本地网络以发现和连接附近的设备</string>
	<key>UNUserNotificationCenterUsageDescription</key>
	<string>App需要发送通知来提醒您重要信息</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>App需要发送通知来提醒您重要信息</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>UTGetWiFiSSID</key>
		<string>We need acuuracy loaction to get WiFi SSID.</string>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Shared Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yourcompany.app.sharedfile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.HarmonyOSInterconnection.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mutualinfection</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>shareddocuments</string>
		<string>photos</string>
		<string>mutualinfection</string>
		<string>AppShare</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>

	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yourcompany.app.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
					<string>mp4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Shared File Type</string>
			<key>UTTypeIdentifier</key>
			<string>com.yourcompany.app.sharedfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>shared</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-sharedfile</string>
			</dict>
		</dict>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.HarmonyOSInterconnection.app</string>
	</array>
</dict>
</plist>
